* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather Sans', sans-serif;
    scroll-behavior: smooth;
}

.main-container {
    background-color: rgba(40, 180, 94, 0.281);
    position: relative;
}

.nav-side-container {
    width: 250px;
    margin-left: -251px;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url("https://i.postimg.cc/DZdPqpTS/lappy.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    color: white;
    z-index: 1;
    text-align: center;
    position: fixed;
    height: 100vh;
    transition: all .5s;
}

.close {
    position: absolute;
    font-size: 35px;
    color: rgb(175, 175, 175);
    cursor: pointer;
    right: 15px;
}

.close:hover,
.nav-side-container .nav-links li a:hover {
    color: white;
}

.nav-side-container .nav-links {
    padding: 40px 0px;
}

.nav-side-container .nav-links li {
    font-size: large;
    margin: 20px 0px;
}

.nav-side-container .nav-links li a {
    text-decoration: none;
    color: rgb(175, 175, 175);
}

nav {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to right, rgba(48, 194, 12, 0.527), rgb(2, 255, 129));
}

.logo {
    margin: 10px 10px;
}

.logo .X {
    color: rgb(255, 51, 0);
    font-size: 30px;
}

.open {
    font-size: 30px;
    margin: 0px 10px;
    cursor: pointer;
}

.main-container {
    width: 100%;
    overflow: hidden;
}

.container {
    margin-left: 0px;
    transition: margin .5s;
}

.container h1 {
    text-align: center;
}

.container p {
    padding: 0px 30px;
}

header {
    background-image: url("https://i.postimg.cc/Qd2CjXT3/prof-coder.jpg");
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0, 0.3);
    background-blend-mode: multiply;
    background-size: cover;
    height: 40vh;
    padding-top: 80px;
}

header h1 {
    color: white;
    text-align: center;
}

header p {
    color: white;
    text-align: center;
}

@media screen and (min-width:900px) {
    header {
        height: 70vh;
        padding-top: 200px;
        font-size: 25px;
    }
    nav {
        font-size: 20px;
    }
}

.content {
    width: 99%;
    margin: 90px auto;
    text-align: justify;
}

.cards {
    width: 99%;
    margin: 90px auto;
    display: flex;
    text-align: justify;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards .card1 {
    flex-basis: 35%;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color: black;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 400px;
    min-width: 300px;
}

.cards .card1 h1 {
    margin: 20px 0px;
}

.c1 {
    background-color: rgb(131, 238, 154);
}

.c2 {
    background-color: rgb(131, 238, 154);
}

.c3 {
    background-color: rgb(131, 238, 154);
}

.cards .card1 p {
    margin: 10px auto;
}

.cards .card1:hover {
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.coder {
    background-color: white;
}

.coder img {
    display: block;
    margin: auto;
    max-width: 800px
}


/* my hobbies section started */

.my-hobbies {
    width: 99%;
    margin: 90px 0;
    text-align: justify;
}

.my-hobbies .beautiful-info .beautiful-nav {
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    padding: 0;
    background-color: rgb(218, 218, 218);
    color: white;
}

.my-hobbies .beautiful-info {
    width: 95%;
    margin: auto;
}

.my-hobbies .beautiful-info .beautiful-nav .but {
    margin: 0;
    padding: 10px 0;
    width: 25%;
    border: none;
    color: black;
    font-size: 20px;
    outline: none;
    border-radius: 0px;
    cursor: pointer;
}

.but1 {
    background-color: rgb(255, 0, 0);
    color: white;
}

.but2 {
    color: black;
    background-color: rgb(218, 218, 218);
}

.but3 {
    background-color: rgb(218, 218, 218);
}

.but4 {
    background-color: rgb(218, 218, 218);
}

.my-hobbies .beautiful-info .beautiful-content {
    padding: 30px 10px;
    color: white;
    animation: fade;
    animation-duration: .5s;
}

.my-hobbies .beautiful-info .beautiful-content h1 {
    margin: 20px 0px;
}

.bcon1 {
    background-color: rgb(255, 0, 0);
}

.bcon2 {
    background-color: rgb(17, 0, 255);
}

.bcon3 {
    background-color: rgb(0, 231, 69);
}

.bcon4 {
    background-color: rgb(255, 0, 157);
}

.bcon2,
.bcon3,
.bcon4 {
    display: none;
}

@keyframes fade {
    from {
        background-color: black;
    }
}


/* my hobbies section ended */


/* image 3d */

.td-image {
    background-color: white;
}

.td-image img {
    max-width: 800px;
    margin: auto;
    display: block;
}

@media screen and (min-width:700px) {
    .td-image {
        display: none;
    }
}


/* footer */

.foot {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("https://i.postimg.cc/DZdPqpTS/lappy.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    height: 50vh;
}

.foot .bottom {
    display: flex;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 90px;
}

.foot .bottom li {
    color: white;
    list-style: none;
    margin: 0;
    font-size: 20px;
    margin: 20px 0px;
    padding: 0;
}

.foot .bottom li a {
    text-decoration: none;
    color: rgb(204, 204, 204);
}

.foot .bottom li a:hover {
    color: white;
}


/* goto up */

.goto-top {
    background-color: rgb(131, 238, 154);
    position: fixed;
    top: 80%;
    right: 10px;
    padding: 5px 20px;
    border-radius: 50%;
    font-size: 40px;
    opacity: .8;
    display: none;
    cursor: pointer;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* registration form css */

.registration .reg {
    width: 60vw;
    margin: 40px auto;
    background-color: white;
    text-align: center;
    max-width: 500px;
    min-width: 400px;
}

.registration .reg .form-signUp {
    padding: 20px 0px;
    z-index: 2;
}

.active {
    box-shadow: 5px -7px 9px rgba(0, 0, 0, 0.3);
}

.registration .reg .form-signUp label {
    line-height: 90px;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 20px;
}

.registration .reg .form-signUp label input {
    padding: 10px;
}

#submit {
    padding: 10px 20px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: mediumseagreen;
    border: none;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.3);
}

.registration .reg .form-login {
    display: none;
}

.registration .reg .form-login label {
    line-height: 90px;
}

.registration .reg .form-login label input {
    padding: 10px;
}

.registration .reg .top-two {
    padding: 0;
    background-color: rgb(218, 218, 218);
}

.registration .reg .top-two h1 {
    display: inline-block;
    width: 49.6%;
    padding: 20px 0px;
    white-space: nowrap;
    cursor: pointer;
}

.registration .reg .top-two .sign {
    background-color: white;
}

.registration .reg label {
    display: block;
}


/* registration form css */


/* media query for landscape orientation */

@media screen and (orientation:landscape) {
    header {
        height: 70vh;
        padding-top: 40px;
        font-size: 25px;
    }
    nav {
        font-size: 20px;
    }
    .foot {
        height: 400px;
    }
}


/* register button */

.register-button {
    padding: 10px 15px;
    border: none;
    font-size: 15px;
    background-image: linear-gradient(to right, rgba(153, 0, 255, 0.678), rgb(114, 0, 221));
    color: rgb(219, 219, 219);
    cursor: pointer;
}

.register-button:hover {
    background-image: linear-gradient(to left, rgba(153, 0, 255, 0.664), rgb(132, 0, 255));
    color: white;
}

.a {
    text-decoration: none;
    color: white;
}


/* contact me  */

.contact-me {
    padding: 30px;
}

.contact-me h1 {
    text-align: left;
}

.contact-me .my-info {
    width: 80%;
    margin: auto;
    min-width: 400px;
    max-width: 900px;
    line-height: 40px;
    background-color: white;
    padding: 40px 0px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.contact-me .my-info:hover {
    background: mediumseagreen;
    color: white;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}

.contact-me .my-info span {
    font-size: 25px;
    margin: 0px 10px;
}

.nav-links button a {
    text-decoration: none;
    color: rgb(228, 228, 228);
}

.nav-links button a:hover {
    color: white;
}

.location .loc {
    margin: 30px;
}

.location .loc iframe {
    width: 95%;
    display: block;
    margin: auto;
}

.contact-form .form-contact {
    width: 80%;
    min-width: 400px;
    max-width: 600px;
    background-color: white;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
}

.contact-form .form-contact:hover {
    box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.4);
}

.contact-form .form-contact label {
    display: block;
    line-height: 50px;
}

.contact-form .form-contact label input {
    padding: 10px;
}

#submit {
    cursor: pointer;
}

.contact-form .form-contact h1 {
    padding: 20px 0px;
}

header {
    padding-top: 90px;
}

@media screen and (min-width:900px) {
    header {
        padding-top: 130px;
    }
}

@media screen and (max-width:700px) {
    .contact-me .my-info {
        font-size: 10px;
    }
}


/* contact me  */


/* footer h2 */

h4 {
    text-align: center;
    padding: 5px;
}

h4 span {
    color: red;
    margin: 4px 3px;
}


/* footer h2 */